body{

    font-family: sans-serif;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    background-color: silver;         
  }

  ul{
    list-style: none;
  }
  
  li{
    display: inline;
    margin: 10px 10px 10px 10px;
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .left-side{
    float: left;
  }
  
  .right-side{
    float: right;
  }
  
  a{
    color: #808080;
    text-decoration: none;
  }
  
  
  .fbar{
    background-color: silver;
  }
  
  #main{
    display: block;
    text-align: center;
  }
  
  img{
    padding-top: 109px;
    
  }
    
  input{
      border: none;
      padding: 10px;
      margin: 20px;
      height: 20px;
      width: 500px;
      border:1px solid #eaeaea;
      outline:none;
  }
  input:hover{
      border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
  }
  input:focus{
      border-color:#4d90fe;
  }
  
  input[type="submit"] {
      border-radius: 2px;
      background: #f2f2f2;
      border: 1px solid #f2f2f2;
      color: #757575;
      cursor: default;
      font-size: 14px;
      font-weight: bold;
      width: auto;
      padding: 0 16px;
      height:36px;
  }
  input[type="submit"]:hover {
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      background: #f8f8f8;
      border: 1px solid #c6c6c6;
      box-shadow: 0 1px 1px rgba(0,0,0,0.1);
      color: #222;
  }
  
